<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'head.html' %}
</head>
<body>
	
	<div class="wrapper">
		<header class="header">
			<div class="header-top">
				<div class="inner">
					<span class="title">Хотите исправить осанку вашего ребенка?<br>
						<span>Или принять профилактические меры, чтобы не допустить искривления позвоночника?</span>
					</span>
				</div>
			</div>

			<div class="header-middle">
				<div class="inner">
					<img src="images/logo.png" alt="alt" class="logo">
					<span class="title">
						обеспечит правильную осанку вашему ребенку<br>
						и избавит его от проблем с позвоночником в будущем!
					</span>
				</div>
			</div>

			<div class="header-bottom">
				<div class="inner">
					<div class="content-left">
						<img src="images/family.jpg" alt="alt" class="family">
						<img src="images/prod1.png" alt="alt" class="prod">
					</div>
					<div class="content-right">
						<ul>
							<li>
								Уменьшает нагрузку на позвоночник на 98%
							</li>
							<li>
								Помогает ребенку сохранить физиологически правильную осанку в положении сидя
							</li>
							<li>
								Обеспечивает профилактику и лечение сколиоза у детей
							</li>
							<li>
								Оказывает расслабляющее и массажирующее действие на спину
							</li>
						</ul>

						<div class="timer-block">
							<span class="timer-title">
								Только до конца дня вы можете приобрести Seat Back со скидкой 53%! 
							</span>
							<div class="countbox"></div>
						</div>

						<div class="price">
							<div class="price-item">
								<span class="price-title">старая цена</span>
								<span class="priceOld">3980 руб</span>
							</div>
							<div class="price-item">
								<span class="price-title">новая цена</span>
								<span class="priceNew">1990 руб</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div class="screen2">
			<div class="inner">
				<div class="content-right">
					<span class="title">
						Чем полезен упор поясничный Seat Back для детей?
					</span>
					<span class="par">
						<p>Поясничный упор разработан так, что идеально создает и повторяет естественную форму поясничного отдела и спины.</p> 

						<p>Гибкий каркас отлично держит форму и способствует развитию правильной осанки.</p>

						<p>Благодаря специальным шарикам на рабочей поверхности Seat Back ребенок получает легкий массаж спины, обеспечивающий циркуляцию крови, а также уменьшающий усталость от длительного сидения за столом.</p>
					</span>
					<img src="images/scr2.png" alt="alt">
				</div>

				<div class="content-bottom">
					Приобретите упор поясничный Seat Back сейчас — избавьте своего ребенка от проблем, связанных с неправильной осанкой в будущем!
				</div>
			</div>
		</div>

		<div class="screen3">
			<div class="inner">
				<span class="title">
					Использовать  Seat Back удобно и просто:
				</span>
				<ul>
					<li>
						Закрепите упор поясничный на стуле при помощи ленты.
					</li>
					<li>
						Теперь спина вашего ребенка всегда принимает<br> анатомически правильное безопасное положение.
					</li>
				</ul>
				<img src="images/scr3.jpg" alt="alt">
			</div>
		</div>

		<div class="screen4">
			<div class="inner">
				<span class="title">
					 Преимущества упора поясничного Seat Back
				</span>

				<div class="scr4-items">
					<div class="scr4-item">
						<img src="images/advan1.png" alt="alt">
						<span class="scr4-desc">
							100%<br> использования в<br> любых условиях и<br> обстановке
						</span>
					</div>
					<div class="scr4-item">
						<img src="images/advan2.png" alt="alt">
						<span class="scr4-desc">
							устраняет боль в<br> спине в течение<br> первых 10 минут
						</span>
					</div>
					<div class="scr4-item">
						<img src="images/advan3.png" alt="alt">
						<span class="scr4-desc">
							оздоравливающий<br> эффект с 1 минуты<br> использования
						</span>
					</div>
					<div class="scr4-item">
						<img src="images/advan4.png" alt="alt">
						<span class="scr4-desc">
							100% клинически<br> доказанная<br> эффективность
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="screen5">
			<div class="inner">
				<img src="images/scr5.png" alt="alt" class="doctor-img">
				<span class="title">
					Мнение специалиста
				</span>

				<span class="par">
					<p>Для ребенка очень важно сидеть правильно. Правильная осанка не только влияет на опорно-двигательную систему, но и на весь организм в целом. От того как ребенок сидит зависит его здоровье.</p> 
					<p>В детском возрасте многие заболевания можно предупредить, не прибегая к сложным лекарствам. Я рекомендую упор поясничный  Seat Back как один из проверенных методов профилактики и лечения сколиоза на ранних стадиях. Эффективность его действия проверена и доказана многими моими пациентами.</p>
					<p>Здоровье ваших детей — в ваших руках!</p>
				</span>

				<span class="par-italic">Юрий Лозовой, детский врач реабилитолог</span>
				<img src="images/write.png" alt="alt" class="write-img">
			</div>
		</div>

		<div class="screen6">
			<div class="inner">
				<span class="title">
					Отзывы о Seat Back
				</span>

				<div class="reviews">
					<div class="reviews-item">
						<div class="review-item__top">
							<img src="images/rev-foto1.png" alt="alt">
							<div class="rev-top-right">
								<span class="name">Алина, 50 лет</span>
								<img src="images/stars.jpg" alt="alt">
							</div>
						</div>
						<div class="review-item__bottom">
							<div class="triangle"></div>
							<img src="images/rev-exam1.jpg" alt="alt">
							<span class="rev-desc">
								Соседка рассказала мне о чудодейственной сетке, которая крепится на стул и помогает при болях в спине и пояснице. Я пришла к ней в гости и попробовала посидеть на стуле с поясничным упором. Через несколько минут почувствовала легкость в спине. А тут в школе у внучке был медосмотр и хирург сказал, что у нее легкое искривление позвоночника из-за неправильной осанки. Решила я приобрести поясничный упор. Пользуемся еще пока недолго, но внучка говорит, что меньше спина у нее устает, да и осанка улучшилась
							</span>
						</div>
					</div>
					<div class="reviews-item">
						<div class="review-item__top">
							<img src="images/rev-foto2.png" alt="alt">
							<div class="rev-top-right">
								<span class="name">Юлия, 30 лет, г. Пермь</span>
								<img src="images/stars.jpg" alt="alt">
							</div>
						</div>
						<div class="review-item__bottom">
							<div class="triangle"></div>
							<img src="images/rev-exam2.jpg" alt="alt">
							<span class="rev-desc">
								О поясничном упоре я узнала из рекламы для автомобилистов. Там говорилось, что это приспособление подходит всем людям. А так как дочка постоянно сидит за компьютером, решила приобрести и для нее. О здоровой спине надо заботиться с детства
							</span>
						</div>
					</div>
					<div class="reviews-item">
						<div class="review-item__top">
							<img src="images/rev-foto3.png" alt="alt">
							<div class="rev-top-right">
								<span class="name">Оксана, 35 лет, г.Тула</span>
								<img src="images/stars.jpg" alt="alt">
							</div>
						</div>
						<div class="review-item__bottom">
							<div class="triangle"></div>
							<img src="images/rev-exam3.jpg" alt="alt">
							<span class="rev-desc">
								Моему сыну 10 лет. Как все дети он очень любит играть в компьютерные игры. Недавно заметила, что сидит он на стуле как-то неровно. Подружка посоветовала приобрести поясничный упор. Что сказать? Сын теперь сидит ровно и говорит, что ему очень удобно и спина меньше устает. А я заметила, что и учиться он стал лучше
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="screen7">
			<div class="inner">
				<div class="content-left">
					<span class="title">Как сделать заказ</span>
					<div class="scr6-items">
						<div class="scr6-item">
							<img src="images/how1.png" alt="alt">
							<span class="item-desc">
								Делаете заявку<br> на сайте
							</span>
						</div>
						<div class="scr6-item">
							<img src="images/how2.png" alt="alt">
							<span class="item-desc">
								Принимаете звонок<br> от менеджера
							</span>
						</div>
						<div class="scr6-item">
							<img src="images/how3.png" alt="alt">
							<span class="item-desc">
								Получаете и оплачиваете<br> заказ на почте
							</span>
						</div>
					</div>
				</div>
				<div class="content-right">
					<span class="title">Надежность</span>
					<div class="scr6-items">
						<div class="scr6-item">
							<img src="images/reliability1.png" alt="alt">
							<div class="item-content">	
								<span class="item-title">
									Обмен возврат
								</span>
								<span class="item-desc">
									У нас работает служба поддержки<br> Мы всегда готовы помочь
								</span>
							</div>
						</div>
						<div class="scr6-item">
							<img src="images/reliability2.png" alt="alt">
							<div class="item-content">	
								<span class="item-title">
									Быстрая доставка
								</span>
								<span class="item-desc">
									Наша логистическая служба<br> работает по всей России
								</span>
							</div>
						</div>
						<div class="scr6-item">
							<img src="images/reliability3.png" alt="alt">
							<div class="item-content">	
								<span class="item-title">
									Оплата при получении
								</span>
								<span class="item-desc">
									Вам не нужно вносить никакую<br> предоплату и минимальных<br> сумм для заказа, вы платите <br>только когда получите заказ
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="screen8">
			<div class="inner">
				<span class="title">
					Уверенность в каждом заказе
				</span>

				<div class="content-top">
					<div class="content-top__left">
						<span class="content-title">Гарантии на товар</span>
						<div class="content-par">
							<p>Перед отправкой товары проходят 100% проверку.</p>
							<p>Мы соблюдаем Закон «О защите прав потребителей».</p>
							<p>Вы вправе отказаться от покупки в течение 14 дней с момента получения заказа при обнаружении брака и дефектов.</p>
						</div>
					</div>
					<div class="content-top__right">
						<span class="content-par">
							<p>Оформляя заказ в компании</p>
							<p>ООО «Автотулза» вы можете быть уверены<br> в соблюдении ваших гражданских прав, а<br> также закона</p>
							<p>«О защите прав потребителей».</p>
						</span>
						<img src="images/scr8-1.jpg" alt="alt">
					</div>
				</div>

				<div class="content-bottom">
					<div class="content-bottom__left">
						<span class="content-title">Возврат денег</span>
						<div class="content-par">
							<p>Мы вернем вам деньги если что-то<br> окажется не так.</p>
							<p>Вам необходимо обратиться в службу<br> поддержки клиентов.</p>
							<p>Выслать нам купленный товар.</p>
						</div>
						<img src="images/scr8-2.png" alt="alt">
					</div>
					<div class="content-bottom__right">
						<span class="content-par">
							<p>Товар прошел должную<br> сертификацию на<br> территории России.</p>
						</span>
						<img src="images/scr8-3.png" alt="alt">
					</div>
				</div>
			</div>
		</div>

		<footer class="footer">
			<div class="footer-top">
				<div class="inner">
					<img src="images/logo.png" alt="alt" class="logo">
					<span class="title">
						обеспечит правильную осанку вашему ребенку<br>
						и избавит его от проблем с позвоночником в будущем!
					</span>
				</div>
			</div>

			<div class="footer-bottom">
				<div class="inner">
					<div class="content-left">
						<img src="images/family2.jpg" alt="alt" class="family">
						<img src="images/prod2.png" alt="alt" class="prod">
					</div>
					<div class="content-right">
						<div class="timer-block">
							<span class="timer-title">
								Только до конца дня вы можете приобрести Seat Back со скидкой 53%! 
							</span>
							<div class="countbox"></div>
						</div>

						<div class="price">
							<div class="price-item">
								<span class="price-title">старая цена</span>
								<span class="priceOld">3980 руб</span>
							</div>
							<div class="price-item">
								<span class="price-title">новая цена</span>
								<span class="priceNew">1990 руб</span>
							</div>
						</div>

						<form action="" method="post">
							<span class="input-title">
								Ваше имя
							</span>
							<input type="text" name="name" placeholder="Александра">

							<span class="input-title">
								Ваш телефон
							</span>
							<input type="tel" name="phone" placeholder="_(___)___-__-__">

							<button type="submit">Онлайн заказ</button>
						</form>
					</div>
				</div>
			</div>
		</footer>

		<div class="fast-order">
			<div class="inner">
				<form action="" method="post">
					<div class="form-item">
						<span class="input-title">Ваше имя</span>
						<input type="text" name="name" placeholder="Александра">
					</div>
					<div class="form-item">
						<span class="input-title">Ваш телефон</span>
						<input type="tel" name="phone" placeholder="_(___)___-__-__">
					</div>
					<div class="form-item">
						<button type="submit">Онлайн заказ</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	 {% include 'scripts.html' %}

</body>
</html>




