html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  outline: none; }

*::before, *::after {
  box-sizing: border-box; }

/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }


@font-face {
  font-family: Futura-Demic;
  src: url("../fonts/futurademic.ttf"); }

@font-face {
  font-family: Futura-Bookc;
  src: url("../fonts/futurabookc.ttf"); }


body {
	font: 18px/1.25 "Futura-Bookc";
}

h1,
h2,
h3,
h4,
h5 {
	font-family: "Futura-Demic";
	padding: 0;
	margin: 0;
}

.wrapper {
  background: #f5fcff;
}

.container {
	width: 320px;
	margin: 0 auto;
  padding: 0 10px;
  position: relative;
}

.flex {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.img img {
  display: block;
  width: 100%;
  height: auto;
}

.free-consultation { 
  display: block;
  color: #000;
  font-family: "Futura-Bookc";
  font-size: 21px;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  padding: 13px 0 14px;
  margin: 0 -1px;
  border-radius: 24px;
  background: #ffe534; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #ffe534 0%, #f7af32 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #ffe534 0%,#f7af32 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #ffe534 0%,#f7af32 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe534', endColorstr='#f7af32',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/*HEADER, SCREEN 1 STYLES*/

.screen-1 {
	background: url('../img/screen-1-back.jpg');
	background-position: 50% 0; 
	color: #fff;
  line-height: 1.5;
}

.screen-1 .glass-back {
	background: url("../img/glass.png");
  background-size: cover;
}

.screen-1 .title {
	text-transform: uppercase;
	font-family: "Futura-Bookc";
	font-size: 21px;
	line-height: 1.25;
  padding: 18px 0 0;
}

.screen-1 .title .subtitle {
	font-family: "Futura-Demic";
	font-size: 43px;
}

.screen-1 .question-list {
  padding: 8px 0 25px 20px;
  position: relative;
}

.screen-1 .question-list:before {
  content: '';
  display: block;
  height: 90px;
  width: 0;
  border: 2px solid #fff;
  border-radius: 2px;
  position: absolute;
  top: 5px;
  left: 0;
}

.screen-1 .recomend {
  padding: 22px 0;
}

.screen-1 .recomend .container {
  padding: 0 0 0 100px;
}

.screen-1 .recomend .img {
  position: absolute;
  top: -34px;
  left: 0;
  max-width: 90px;
}

.screen-1 .recomend .recomend__text {
  text-align: right;
}

.screen-1 .recomend .recomend__text .sign {
  vertical-align: top;
}

.screen-1 .recomend .recomend__text .sign img {
  margin-right: 5px;
}

.screen-1 .positive-effects {
  padding: 10px 0 15px 0;
}

.screen-1 .positive-effects .positiove-effect__item {
  font-size: 14px;
  font-family: "Futura-Demic";
  line-height: 1.25;
  position: relative;
  padding: 3px 0 10px 22px;
}

.screen-1 .positive-effects .positiove-effect__item:before {
  content: '';
  display: block;
  width: 16px;
  height: 21px;
  background: url("../img/list-item.png") no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}

.discount-block .discount-block__title {
  font-size: 21px;
  text-align: center;
  padding: 0 0 5px;
}

.discount-block {
  padding: 0 0 52px;
}

.discount-block .discount-block__border {
  border: 1px dashed #fff;
  border-radius: 10px 10px 0 0;
  padding: 20px 0 35px;
  border-width: 1px 1px 0;
  position: relative;
}

.discount-block .discount-block__border .flex {
  justify-content: space-between;
}

.discount-block .discount-block__border .price {
  text-align: right;
}

.discount-block .discount-block__border .price .old-price,
.discount-block .discount-block__border .price .new-price {
  display: block;
  width: 156px;
}

.discount-block .discount-block__border .discount-val {
  text-align: center;
  width: 125px;
  padding: 0 20px 0 0;
}

.discount-block .discount-block__border .discount-val .discount {
  display: inline-block;
  padding: 0 0 5px;
}

.discount-block .discount-block__border .unit {
  font-size: 20px;
}

.discount-block .discount-block__border .price .old-price {
  font-size: 32px;
  line-height: 1.2;
  position: relative;
}

.discount-block .discount-block__border .price .old-price:before {
  content: '';
  display: block;
  width: 65%;
  height: 0;
  border: 1px solid #fff;
  position: relative;
  top: 19px;
  left: 49px;
  transform: rotate(8deg);
}

.discount-block .discount-block__border .price .new-price,
.discount-block .discount-block__border .discount-val .discount {
  font-family: "Futura-Demic";
  font-size: 50px;
  line-height: 1;
}

.discount-block .discount-block__border .discount-val .discount-time {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.1;
  display: block;
}

.screen-1 .discount-block .discount-block__border .free-consultation {
  position: absolute;
  bottom: -24px;
  left: 0;
  right: 0;
  width: 300px;
  transition: all .5s;
}
.screen-1 .discount-block .discount-block__border .free-consultation:hover {
  box-shadow: 0 0 10px 0 rgba(0,0,0,.7) inset;
}


/*SCREEN 2 STYLES*/

.screen-2 {
  background: #fcfcfc;
  font-size: 16px;
}

.screen-2 .need-for .need-for__title {
  font-size: 26px;
  text-align: center;
  padding: 10px 0;
}

.screen-2 .need-for .img {
  margin: 0 -10px;
}

.screen-2 .need-for .need-for__list {
  list-style: disc inside;
  padding: 10px 0 5px;
}

.screen-2 .need-for .need-for__list .carseat-need-for__item {
  text-indent: 0;
  padding: 0 0 10px;
}

/*SCREEN-3 STYLE*/

.screen-3 {
  font-size: 18px;
}

.complications .complication__title {
  font-size: 26px;
  text-align: center;
  line-height: 1.25;
  padding: 10px 0 10px;
}

.complications .complication__title span {
  display: block;
}

.complications .complication__img-title .complication__img-title__item {
  text-align: center;
  padding: 15px 0 20px;
}

.complications .complications-list {
  list-style: disc inside;
  padding: 0 15px;
}

.complications .complications-list .complications-list__item {
  text-indent: 0;
  padding: 0 0 10px;
}

/*'WHY-USEFULL' BLOCK STYLES*/

.why-usefull {
  background: -moz-linear-gradient(283deg, #a83279 0%, #d38312 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a83279), color-stop(100%, #d38312)); /* safari4+,chrome */
  background: -webkit-linear-gradient(283deg, #a83279 0%, #d38312 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(283deg, #a83279 0%, #d38312 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(283deg, #a83279 0%, #d38312 100%); /* ie10+ */
  background: linear-gradient(167deg, #a83279 0%, #d38312 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a83279', endColorstr='#d38312',GradientType=0 ); /* ie6-9 */

  color: #fff;
  font-size: 18px;
  padding: 0 5px;
}

.why-usefull .why-usefull__title {
  font-size: 26px;
  text-align: center;
  padding: 17px 0 17px;
}

.why-usefull .why-usefull__title span {
  display: block;
}

.why-usefull .why-usefull__list .why-usefull__list__item {
  text-align: center;
  padding: 0 0 20px;
}

.why-usefull .why-usefull__list .why-usefull__list__item span {
  display: block;
}

.why-usefull .why-usefull__list .why-usefull__list__item:before {
  content: '';
  display: block;
  width: 48px;
  height: 59px;
  background: url('../img/why-usefull-list-img.png');
  margin: 0 auto 15px;
}

/*SPECIALIST-CONCLUSION styles*/

.specialist-conclusion {
  background: #ebebeb;
}

.specialist-conclusion .specialist-conslusion__title {
  font-size: 30px;
  text-align: center;
  padding: 12px 0 15px;
}

.specialist-conclusion p {
  padding: 0 0 25px;
}

.specialist-conclusion .container p:nth-child(6) {
  padding: 0 0 10px;
}

.specialist-conclusion .specialist-conslusion__spec-image .img {
  margin: 0 0 0 -31px;
}

.specialist-conclusion .specialist-conslusion__spec-image .specialist-name {
  position: relative;
  padding: 10px 0 15px;
}

.specialist-conclusion .specialist-conslusion__spec-image .specialist-name img {
  position: absolute;
  bottom: -15px;
  right: 25px;
}

/*SLIDER BLOCK styles*/

.comments {
  text-align: center;
}

.comments .comments__title {
  font-size: 30px;
  padding: 5px 0 20px;
}

.comments .comments__client-photo {
  width: 60px;
  height: 60px;
  border: 1px;
  border-radius: 50%;
  margin: 0 auto 5px;
}

.comments .comments__client-name {
  font-family: "Futura-Demic";
}

.comments .comments__client-mark {
  width: 110px;
  height: 28px;
  border-radius: 14px;
  margin: 5px auto 10px;
  background: #93b9ff;
  padding: 6px 0 0 13px;
}

.comments .comments__client-mark .comments__star {
  margin-right: 1px;
}

.comments .slick-dots {
  padding: 10px 0 15px;
}

.comments .slick-dots li {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}

.comments .slick-dots button {
  position: relative;
  display: none;
}

.comments .slick-dots li:before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #7f7f7f;
}

.comments .slick-dots li.slick-active:before {
  background: #000;
}

/*ORDER BLOCK styles*/

.order {
  background: url("../img/order-back.jpg") no-repeat;
  background-position: 50% 0;
  color: #fff;
}

.order .reliability__title,
.order .order__title {
  font-size: 30px;
  text-align: center;
  padding: 35px 0 25px;
  text-transform: uppercase;
}

.order .order__steps .order__steps__item {
  align-items: center;
  padding-bottom: 30px;
}
.order .order__steps .order__steps__item:last-child {
  padding-bottom: 0;
}

.order .order__steps .order__steps__item .order_step_text {
  margin-left: 8px;
  width: 212px;
}
.order .order__steps .order__steps__item .order_step_num {
  display: block;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: rgba(0,0,0,.5);
  line-height: 72px;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
}

.order .order__steps .order__steps__item .order_step_text span {
  display: block;
}

.order .reliability__list {
  font-size: 14px;
}

.order .reliability__list .item__title {
  font-size: 18px;
  font-family: "Futura-Demic";
}

.order .reliability__list .reability__list__items {
  justify-content: space-between;
  padding: 0 0 25px;
}

.order .reliability__list .reability__list__items .img {
  width: 52px;
}

.order .reliability__list .reability__list__items .item {
  width: 224px;
}

.order .reliability__list .reability__list__items .item span {
  display: block;
}

/*consultation form block styles*/

.consultation {
  text-align: center;
}

.consultation .consultation__title {
  text-transform: uppercase;
  font-family: "Futura-Demic";
  font-size: 43px;
  line-height: 1.1;
  position: relative;
  padding: 14px 0 10px;
  margin: 0 0 15px;
}

.consultation .consultation__title span {
  font-size: 21px;
  font-family: "Futura-Bookc";
  display: block;
}

.consultation .consultation__title:after {
  content: '';
  width: 76px;
  height: 0;
  border: 2px solid #000;
  border-radius: 2px;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: calc(50% - 38px);
}

.consultation .recomend__text {
  text-align: right;
  padding: 0 0 35px;
}

.consultation .recomendation {
  display: block;
  padding: 0 0 5px;
}

.consultation .recomend__text .sign {
  vertical-align: top;
  position: relative;
}

.consultation .recomend__text .sign img {
  margin: 5px 0;
  position: absolute;
  right: 90px;
  bottom: -10px;
}

.consultation .discount-block {
  padding: 0 0 15px;
}

.consultation .discount-block .discount-block__border {
  border-color: #000;
  border-radius: 10px;
  border-width: 1px;
  padding-bottom: 15px; 
}

.consultation .discount-block .discount-block__border .old-price:before {
  border-color: #000;
}

#getConsultation {
  text-align: center;
  font-size: 24px;
}

#getConsultation input {
  width: 100%;
  height: 50px;
  border: 1px solid #000;
  border-radius: 25px;
  margin: 0 0 10px;
  text-align: left;
  color: #000;
  background: #fff;
  padding: 0 15px;
  text-align: center;
}

#getConsultation .free-consultation {
  width: 100%;
  border: none;
  height: 50px;
  margin: 0 0 15px;
  font-size: 24px;
  cursor: pointer;
  transition: all .5s;
}
#getConsultation .free-consultation:hover {
  box-shadow: 0 0 10px 0 rgba(0,0,0,.7) inset;
}

/*last, copyrights, footer styles*/

.copyrights {
  font-size: 11px;
  text-align: center;
  padding: 5px 0 10px;
}
.copyrights span {
  display: block;
}
.input-name::-webkit-input-placeholder,
.input-phone::-webkit-input-placeholder       {color: #000; opacity: 1; transition: opacity 0.3s ease;}
.input-name::-moz-placeholder,
.input-phone::-moz-placeholder                {color: #000; opacity: 1; transition: opacity 0.3s ease;}
.input-name:-moz-placeholder,
.input-phone:-moz-placeholder                 {color: #000; opacity: 1; transition: opacity 0.3s ease;}
.input-name:-ms-input-placeholder,
.input-phone:-ms-input-placeholder            {color: #000; opacity: 1; transition: opacity 0.3s ease;}
.input-name:focus::-webkit-input-placeholder,
.input-phone:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.input-name:focus::-moz-placeholder,
.input-phone:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
.input-name:focus:-moz-placeholder,
.input-phone:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
.input-name:focus:-ms-input-placeholder,
.input-phone:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}